@{
    ViewBag.Title = "ManageProducts";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularCode.js"></script>

<h2>Manage Products</h2>
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllCats(); GetAllSubcats(); GetAllProds()">
        <select ng-model="selectedCategory" id="Cat_Dropdown">
            <option ng-repeat="cat in categories" value="{{cat.CategoryId}}">{{cat.CategoryName}}</option>
        </select>
        <h4>Selected ID: {{selectedCategory}}</h4>
        <div ng-show="selectedCategory">
            <select ng-model="selectedSubcategory" id="Subcat_Dropdown">
                <option ng-repeat="subcat in subcategories | filter:selectedCategory:strict" value="{{subcat.SubcategoryId}}">{{subcat.SubcategoryName}}</option>
            </select>

            <h4>Selected ID: {{selectedSubcategory}}</h4>
        </div>

        @* Depending on if there is a subcategory selected it will show the table & the option to add/edit/delete items *@
        <div ng-show="selectedSubcategory">
            <p>List of Products</p>
            <table class="table table-bordered table-hover">
                <tr>
                    <td>
                        <b>Id</b>
                    </td>
                    <td>
                        <b>Name</b>
                    </td>
                    <td>
                        <b>POTW</b>
                    </td>
                    <td>
                        <b>Price</b>
                    </td>
                </tr>
                <tr ng-repeat="prod in products | filter:selectedSubcategory:strict">
                    <td>{{prod.ProductId}}</td>
                    <td>{{prod.ProductName}}</td>
                    <td>{{prod.ProductOfTheWeek}}</td>
                    <td>{{prod.ProductPrice | currency: "€ "}}</td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateProd(prod)" />
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteProd(prod)" />
                    </td>
                </tr>
            </table>

            <div class="form-control-static">
                <div class="container">
                    <div class="row">
                        <h2>
                            <span id="spn">Add New Product</span>
                        </h2>
                    </div>
                    <div class="row">
                        <label>Name:</label>
                        <input type="text" class="form-control" placeholder="Product Name" ng-model="ProdName">

                        <label>Product of the week:</label>
                        <input type="checkbox" class="form-control" ng-model="ProdPOTW">

                        <label>Description:</label>
                        <input type="text" class="form-control" placeholder="Product Description" ng-model="ProdDescr">

                        <label>Price:</label>
                        <input type="number" class="form-control"  ng-model="ProdPrice">

                        <label>Ingredients:</label>
                        <input type="text" class="form-control" placeholder="[&quot;Ingredient1&quot;,&quot;Ingredient2&quot;]" ng-model="ProdIngred">

                        <label>ImageURL:</label>
                        <input type="text" class="form-control" placeholder="Product ImageURL" ng-model="ProdUrl">

                    </div>
                    <div class="row">
                        <input type="button" id="btnSave" class="form-control btn-info" value="Submit" ng-click="InsertProd()" />
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("ProdID_")
    </div>
</div>

